name: shared
publish_to: "none"
description: Shared UI components, extensions, and utilities
version: 1.0.0
environment:
  sdk: ">=3.7.2 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  core:
    path: ../core
